body {
	font-family: 'Roboto', sans-serif;
	background-color: #eee9e3;
}
.about {
	top: 50px;
	position: relative;
	text-align: center;
}
.about h2 {
	font-size: 15px;
	font-weight: bold;
}
.about h2 {
	font-size: 15px;
	font-weight: bold;
}
#calculator {
	width: 320px;
	height: 520px;
	background-color: #fdfcf8;
	margin: 0 auto;
	top: 100px;
	position: relative;
	border-radius: .35rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
	height: 120px;
}

#history {
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}

#output {
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}

#keyboard {
	height: 400px;
}

.operator,
.number,
.empty {
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: .35rem;
	border-width: 2px;
	border-color: #eee9e3;
	/* font-weight: bold; */
	font-size: 15px;
}

.number,
.empty {
	background-color: #fff;
}

.number,
.operator {
	cursor: pointer;
}

.operator:active,
.number:active {
	font-size: 13px;
}

.operator:focus,
.number:focus,
.empty:focus {
	outline: 10;
}
button:nth-child(1) {
	font-size: 20px;
	font-weight: 0px;
	background-color: #9e260b;
}
button:nth-child(2) {
	font-size: 20px;
	background-color: #0068bd;
}
button:nth-child(4) {
	font-size: 20px;
}

button:nth-child(8) {
	font-size: 20px;
}

button:nth-child(12) {
	font-size: 20px;
}

button:nth-child(16) {
	font-size: 20px;
}

button:nth-child(20) {
	font-size: 20px;
	background-color: #f1bb00;
}
